html{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #333;
    background: #fff;
    font: 14px/1.7 Arial, Helvetica, sans-serif;
    min-width: 320px;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    position: relative;
}
input{
    font: 100% Arial, Helvetica, sans-serif;
    color: #333;
    vertical-align: middle;
}

img{
    border-style: none;
    vertical-align: top;
}
article, footer{
    display: block;
}
a{
    color: #9a2f22;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

p{
    margin: 0 0 1.2em;
}

button:hover{
    cursor: pointer;
}

.front-section .btn-holder,
.map .locations,
.location-details .filter .select-location,
.footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo{
    padding: 30px 15px 30px 35px;
}

.front-section{
    overflow: hidden;
    position: relative;
    font-size: 24px;
    line-height: 30px;
    color: #503416;
    margin-bottom: 53px;
}
.front-section h1{
    color: #9a2F22;
    margin: 0 0 20px;
    line-height: 48px;
}
.front-section p{
    margin: 0 0 15px;
}

.front-section img{
    max-width: 100%;
    height: auto;
    width: 100%;
}

.front-section .front-image{
    position: relative;
}
.front-section .text-div{
    padding: 33px 30px 10px 85px;
}

.front-section .btn-holder .btn-default{
    background-color: #9a2f22;
    border-radius: 1%;
/*    color: #9a2F22;*/

}
.front-section .btn-holder{
    padding-top: 29px;
    overflow: hidden;
    list-style: none;
}


.front-section .btn-holder li{
    padding: 0 0 15px;

}
.front-section .btn-holder a{
    display: inline-block;
    padding: 10px 15px;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    min-width: 325px;
    height: auto;
    font-weight: bold;
    overflow: hidden;
    white-space: normal;
}
.front-section .text-hold{
    position: absolute;
    top: 0;
    left:15px;
    right: 15px;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.front-section .btn-holder a .glyphicon{
    color: #efc63a;
    font-size: 26px;
    margin-right: 14px;
    float: left;
}

.front-section .btn-holder a .btn-text{
    overflow: hidden;
    display: block;
    color: white;
}

.front-image{
    position: relative;
    max-width: 100%;
    height: auto;
    width: 100%;
    padding: 30px 15px 30px 35px;
/*
    margin-top: 55px;
    padding-top: 1.5em;
*/
}
.article{
    position: relative;
    display: block;
}

/*Intro section*/
.intro{
    overflow: hidden;
    padding-bottom: 38px;
    position: relative;
}
.intro .aside-text{
    float: left;
}
.intro .aside-text p{
    margin: 0 0 25px;
}

.intro .block{
    padding: 7px 0 0;
    font-size: 13px;
    line-height: 18px;
    float: right;
    
}

.intro .block h2{
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 3px;
    font-weight: bold;
}

.intro .block a{
    color: #333;
}
.intro .block p{
    margin: 0;
}

.intro .block .img-box{
    max-width: 170px;
    margin: 0 0 10px;
}

.intro .block .img-box img{
    width: 100%;
}

.intro .block img{
    width: 100%;
    height: auto;
}
/*Map section*/
.map-holder{
    overflow: hidden;
    padding-bottom: 66px;
}

.map-wrap{
    position: relative;
    padding-top: 39px;
}
.map-wrap h3{
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 39px;
    color: #9a2f22;
}
.map-wrap h4{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
.map{
    position: relative;
}
.map img{
    max-width: 100%;
    height: auto;
}

.map .locations li{
    height: auto;
    position: absolute;
    width: 23px;
}
.map .locations li a{
    color: #333;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 29px;  
    text-align: center;
}

.map .locations li a:hover{
    opacity: .8;
    text-decoration: none;
}

.map .locations li.l1{
    top: 41%;
    left: 64.3%;
}
.map .locations li.l2 {
    top: 43.4%;
    left: 46.8%;
    z-index: 20;
}

.map .locations li.l3 {
    left: 51.1%;
    top: 43.4%;
}

.map .locations li.l4 {
    left: 51.1%;
    top: 32.3%;
}

.map .locations li.l5 {
    left: 44.1%;
    top: 28%;
}

.map .locations li.l6 {
    left: 33.1%;
    top: 34.8%;
}

.map .locations li.l7 {
    left: 50%;
    top: 51.8%;
}

.map .locations li.l8 {
    left: 38.6%;
    top: 44.9%;
}

.map .locations li.l9 {
    left: 26%;
    top: 53.4%;
}

.map .locations li.l10 {
    left: 57%;
    top: 59%;
}

.map .locations li.l11 {
    left: 47.5%;
    top: 19.5%;
}

.map .locations li.l12 {
    left: 45.9%;
    top: 45.4%;
    z-index: 2;
}

.map .locations li.l13 {
    left: 44.3%;
    top: 41%;
}

.map .locations li.l14 {
    left: 45%;
    top: 45.4%;
}

.map .locations li.l15 {
    left: 42.4%;
    top: 43.6%;
}

.map .locations li.l16 {
    left: 30.4%;
    top: 32.4%;
}

.map .locations li.l17 {
    left: 38.5%;
    top: 21.2%;
}

.map .locations li.l18 {
    left: 35.5%;
    top: 43.4%;
}

.map .locations li.l19 {
    left: 47.5%;
    top: 44.7%;
}

.map .locations li.l20 {
    left: 53.7%;
    top: 29%;
}

.map .locations li.l21 {
    left: 61%;
    top: 63.9%;
}

.map .locations li.l22 {
    left: 39.1%;
    top: 11%;
}

.map .locations li.l23 {
    left: 41.6%;
    top: 9.5%;
}
.map .locations li.l24 {
    left: 30.2%;
    top: 24.2%;
}
.map .locations li.blue a {
    background: url(../images/locator-bg-02-big.png) no-repeat;
}

.map .locations li.orange a {
    background: url(../images/locator-bg.png) no-repeat;
}

.map .locations li.yellow a {
    background: url(../images/locator-bg-03-big.png) no-repeat;
}

.map .click{
    position: absolute;
    bottom: 16px;
    right: 10%;
    font-size: 14px;
    line-height: 20px;
}
.map .click a{
    color: #000;
    font-weight: bold;
    position: relative;
    padding-left: 20px;
}
.map .click a:after{
    background: url(../images/icon01.png) no-repeat;
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}
/*Location section*/
.location-details{
    padding-top: 23px;
    padding-right: 2px;
}

.location-details .filter{
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid #d2d2d2;
    margin: 0 0 24px;
}
.location-details .filter .title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #333;
    display: block;
    margin: 0 0 13px;
}
.location-details .filter .select-location{
    margin: 0 -29px;
}
.location-details .filter .select-location li{
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    padding: 0 29px 15px;
}

.location-details .filter .select-location li.title-one{
    background: url(../images/locator-bg-01.png) no-repeat 9px 1px no-repeat;
}

.location-details .filter .select-location li.title-two{
    background: url(../images/locator-bg-02.png) no-repeat 9px 2px no-repeat;
}
.location-details .filter .select-location li.title-three{
    background: url(../images/locator-bg-03.png) no-repeat 9px 2px no-repeat;
}

.location-details .filter .select-location a {
    color: #333;
    font-weight: bold;
}

.location-details .filter .select-location a.active,
.location-details .filter .select-location a:hover {
    text-decoration: none;
    color: #9a2f22;
}
.location-panel .panel-group{
    max-height: 550px !important;
    overflow-y: auto;
}

.location-panel .panel{
    border: 0;
    position: relative;
    border-radius: 0;
    box-shadow: none;
    padding-right: 10px;
    padding-bottom: 8px;
}
.location-panel .panel + .panel{
    padding-top: 10px;
    margin-top: 0;
}
.location-panel .panel + .panel:after{
    background: #ccc;
    height: 1px;
    left: 35px;
    right: 11px;
    content: "";
    position: absolute;
    top: 0;
}

.location-panel .panel-heading {
    background: none;
    border: none;
    padding: 0;
}
.location-panel .panel-title{
    font-size: 14px;
    line-height: 21px;
    overflow: hidden;
}
.location-panel .panel-title a:hover{
    text-decoration: none;
    color: #9a2f22;
}
.location-panel .panel-title a:focus,
.location-panel .panel-title a:active{
    outline: none;
    text-decoration: none;
    outline-offset: 0;
}
.location-panel .panel-title .number{
    line-height: 26px;
    text-align: center;
    float: left;
    vertical-align: middle;
    width: 23px;
    margin-right: 10px;
    font-size: 13px;

}
.location-panel .panel-title .orange{
    color: #333;
    width: 23px;
    height: 29px;
    background: url(../images/locator-bg.png) no-repeat 0 0;
    
}
.location-panel .panel-title a{
    font-weight: bold;
}
.location-panel .col{
    float: left;
    width: 50%;
    padding: 0;
}
/*.location-panel .panel-default{
    overflow-y: hidden;

}*/
.location-panel .panel-body{
    border-top: none !important;
    font-size: 14px;
    line-height: 17px;
    color: #333;
    padding: 0 23px 0 35px;
}
.location-panel .panel-body .column-wrap{
    overflow: hidden;
    padding-bottom: 8px;
}
.location-panel .panel-body address{
    line-height: 17px;
    font-size: 14px;
    margin: 0 0 10px;
}
.location-panel .panel-body .tel-link a{
    color: #333;
    text-decoration: none;
}
.location-panel span{
    display: block;
}
/*#Four columns section*/
.four-columns{
    background-color: #309BC0;
    color: #fff;
    padding: 45px 0 38px;
    font-size: 13px;
    line-height: 18px;

}
.four-columns .col{
    padding-bottom: 20px;
}
.four-columns h3{
    margin: 0 0 10px;
    color: #fff;
    line-height: 28px;
    font-size: 24px;
}

.four-columns h3 a{
    color: #fff;
}
.four-columns p{
    margin: 0 0 5px;
}
.four-columns .more a{
    color: #fff;
    position: relative;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.four-columns .more a:after{
    right: 0;
    top: 3px;
    content: "";
    position: absolute;
    background: url("../images/sprite.png") no-repeat 0 0;
    width: 7px;
    height: 12px;
    overflow: hidden;
    text-indent: -9999px;
    display: block;
}
/*two columns section*/
.two-columns{
    background: #f2f0ed;
    padding: 59px 0 48px;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
}
.two-columns .block{
    padding-bottom: 20px;
}
.two-columns .img-box{
    padding-top: 3px;
    max-width: 270px;
}
.two-columns .img-box img{
    max-width: 100%;
    height: auto;
    width: 100%;
}
.two-columns h4{
    margin: 0 0 11px;
    font-size: 24px;
    line-height: 24px;
    color: #000;
}
.two-columns a{
    color: #000;
}


/*#Footer section*/

#footer{
    font-size: 13px;
    line-height: 15px;
}

#footer > .container {
	padding-top: 28px;
	padding-bottom: 30px;
}

#footer p {
	margin: 0;
}
.footer-links {
    font-size: 0;
    line-height: 0;
    letter-spacing: -4px;
    list-style: none;
}

.footer-links li {
	position: relative;
	font-size: 13px;
	line-height: 17px;
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	padding-bottom: 9px;
}

.footer-links li + li {
	padding-left: 20px;
}

.footer-links li + li:after {
	position: absolute;
	top: 2px;
	left: 9px;
	height: 12px;
	background: #e5e5e5;
	content: "";
	width: 1px;
}

.footer-links li a {
	color: #333;
}

@media only screen and (min-width: 1025px) {
    .tel-link {
        display: inline-block;
    }

    .tel-link a {
        cursor: default;
        pointer-events: none;
    }

    .tel-link a:hover {
        text-decoration: none;
    }
}

@media only screen and (max-width:1200px){
    .front-section{
        font-size: 18px;
        line-height: 22px;
    }
    .front-section .text-div{
        padding: 38px 20px 10px 30px;
    }
    .front-section h1{
        font-size: 38px;
        line-height: 38px;
        margin: 0 0 10px;
    }
    .front-section p{  
        margin: 0 0 10px;
    }
    .front-section .btn-holder a{
        font-size: 14px;
        line-height: 20px;
        padding: 7px 7px 5px;
        min-width: 280px;
    }
    .front-section .btn-holder a .glyphicon{
        font-size: 23px;
        margin-right: 10px;
    }
    .map .locations li.l1 {
        left: 70%;
    }

    .map .locations li.l2 {
        left: 51.4%;
    }

    .map .locations li.l3 {
        left: 57%;
    }

    .map .locations li.l4 {
        left: 57%;
    }

    .map .locations li.l5 {
        left: 50%;
    }

    .map .locations li.l6 {
        left: 39%;
    }

    .map .locations li.l7 {
        left: 56%;
    }

    .map .locations li.l8 {
        left: 44.5%;
    }

    .map .locations li.l9 {
        left: 32%;
    }

    .map .locations li.l10 {
        left: 63%;
    }

    .map .locations li.l11 {
        left: 53.4%;
    }

    .map .locations li.l12 {
        left: 51%;
    }

    .map .locations li.l13 {
        left: 50.3%;
    }

    .map .locations li.l14 {
        left: 51%;
    }

    .map .locations li.l15 {
        left: 48.1%;
    }

    .map .locations li.l16 {
        left: 36%;
    }

    .map .locations li.l17 {
        left: 44.5%;
    }

    .map .locations li.l18 {
        left: 41%;
    }

    .map .locations li.l19 {
        left: 53.5%;
    }

    .map .locations li.l20 {
        left: 59.6%;
    }

    .map .locations li.l21 {
        left: 67%;
    }

    .map .locations li.l22 {
        left: 45.1%;
    }

    .map .locations li.l23 {
        left: 47.6%;
    }

    .map .locations li.l24 {
        left: 36.2%;
    }

    .map .click {
        right: 5%;
    }

    .location-details .filter .select-location {
        margin: 0 -20px 0 -30px;
    }

    .location-details .filter .select-location li {
        padding: 0 20px 15px 30px;
    }
}
@media only screen and (max-width:1023px) {
	html,
	body {
		height: auto;
	}

	.page {
		overflow: hidden;
		height: auto;
	}

	body {
		font-size: 11px;
		line-height: 15px;
	}

	#wrapper {
		display: block;
		height: auto;
	}

	#header {
		padding-top: 14px;
		padding-bottom: 15px;
	}

	.logo {
		width: 251px;
		height: auto;
	}

	.front-section {
		font-size: 15px;
		line-height: 19px;
		margin-bottom: 34px;
		padding-left: 22px;
		padding-right: 22px;
	}

	.front-section .text-div {
		padding: 14px 20px 10px 64px;
	}

	.front-section h1 {
		font-size: 30px;
		line-height: 30px;
	}

	.front-section .btn-holder {
		padding-top: 17px;
	}

	.front-section .btn-holder li {
		padding: 0 0 10px;
	}

	.front-section .btn-holder a {
		font-size: 11px;
		line-height: 14px;
		min-width: 202px;
	}

	.front-section .btn-holder a .icon {
		font-size: 17px;
	}

	.intro {
		padding-bottom: 44px;
		padding-left: 22px;
		padding-right: 22px;
	}

	.intro:after {
		left: 22px;
		right: 22px;
	}

	.intro .intro-text p {
		margin: 0 0 15px;
	}

	.intro .block {
		font-size: 10px;
		line-height: 12px;
	}

	.intro .block h2 {
		font-size: 11px;
		line-height: 13px;
		margin: 0 0 3px;
	}

	.intro .block .img-box {
		margin: 0 0 6px;
	}
    .map-holder{
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 45px;
    }
    .map-wrap{
        padding-top: 24px;
    }

    .map-wrap h3{
        font-size: 23px;
        line-height: 30px;
        margin:0 0 24px;
    }
    .map-wrap h4{
        font-size: 11px;
        line-height: 13px;
    }

    .map .locations li {
        width: 14px;
        height: 18px;
    }

    .map .locations li a {
        font-size: 9px;
        line-height: 18px;
    }

    .map .locations li.blue a {
        background: url(../images/locator-bg-02.png) no-repeat;
    }

    .map .locations li.orange a {
        background: url(../images/locator-bg-01.png) no-repeat;
    }

    .map .locations li.yellow a {
        background: url(../images/locator-bg-03.png) no-repeat;
    }

    .map .click {
        font-size: 10px;
        line-height: 12px;
        right: 2%;
        bottom: 13px;
    }

    .map .click a {
        padding-left: 14px;
    }

    .map .click a:after {
        background: url(../images/icon01-tablet.png) no-repeat;
        width: 10px;
        height: 12px;
        top: 2px;
    }

    .location-details {
        padding-top: 14px;
    }

    .location-details .filter {
        padding-bottom: 5px;
        margin: 0 0 15px;
    }

    .location-details .filter .title {
        font-size: 10px;
        line-height: 13px;
        margin: 0 0 7px;
    }

    .location-details .filter .select-location {
        margin: 0 -15px;
    }

    .location-details .filter .select-location li {
        font-size: 10px;
        line-height: 13px;
        padding: 0 15px 10px;
    }

    .location-details .filter .select-location li.title-one {
        background: url(../images/locator-bg-01-tablet.png) no-repeat 3px 2px;
    }

    .location-details .filter .select-location li.title-two {
        background: url(../images/locator-bg-02-tablet.png) no-repeat 3px 2px;
    }

    .location-details .filter .select-location li.title-three {
        background: url(../images/locator-bg-03-tablet.png) no-repeat 3px 2px;
    }

    .location-panel .panel-group {
        max-height: 360px !important;
    }

    .location-panel .panel {
        padding-bottom: 6px;
    }

    .location-panel .panel + .panel {
        padding-top: 6px;
    }

    .location-panel .panel + .panel:after {
        left: 24px;
    }

    .location-panel .panel-title {
        font-size: 11px;
        line-height: 14px;
    }

    .location-panel .panel-title .number {
        line-height: 15px;
        font-size: 8px;
        margin-right: 8px;
    }

    .location-panel .panel-title .orange {
        background: url(../images/locator-bg-01.png) no-repeat 0 0;
        width: 14px;
        height: 18px;
    }

    .location-panel .panel-body {
        font-size: 10px;
        line-height: 12px;
        padding: 0 9px 0 23px;
    }

    .location-panel .panel-body .column-wrap {
        padding-bottom: 5px;
    }

    .location-panel .panel-body address {
        font-size: 10px;
        line-height: 12px;
        margin: 0 0 5px;
    }

    .four-columns {
        padding: 27px 0 7px;
        font-size: 10px;
        line-height: 13px;
    }

    .four-columns .container {
        padding-left: 22px;
        padding-right: 22px;
    }

    .four-columns h3 {
        font-size: 15px;
        line-height: 20px;
        margin: 0 0 5px;
    }

    .four-columns p {
        margin: 0 0 4px;
    }

    .four-columns .more a {
        font-size: 9px;
        line-height: 11px;
        padding-right: 7px;
    }

    .four-columns .more a:after {
        background: url("../images/sprite.png") no-repeat -21px -3px;
        width: 4px;
        height: 7px;
        overflow: hidden;
        text-indent: -9999px;
        display: block;
    }

    .two-columns {
        font-size: 10px;
        line-height: 12px;
        padding: 38px 0 20px;
    }

    .two-columns .container {
        padding-left: 22px;
        padding-right: 22px;
    }

    .two-columns .block {
        padding-bottom: 15px;
    }

    .two-columns .img-box {
        padding-top: 1px;
    }

    .two-columns h4 {
        font-size: 15px;
        line-height: 16px;
        margin: 0 0 4px;
    }
    
    #footer {
		font-size: 10px;
		line-height: 13px;
		display: block;
		height: auto;
	}

	#footer > .container {
		padding-top: 17px;
		padding-bottom: 15px;
		padding-left: 22px;
		padding-right: 22px;
	}

	.footer-links li {
		font-size: 10px;
		line-height: 12px;
	}

	.footer-links li + li {
		padding-left: 12px;
	}

	.footer-links li + li:after {
		height: 8px;
		top: 4px;
		left: 5px;
	}
    
    
}

